openapi: 3.2.0
info:
  title: Seamless O Auth API
  description: "[Privacy Policy](https://seamless.ai/policies/privacy-policy)\n        \nIn order to dramatically improve our offerings to customers, Seamless will be introducing a Public API\nwhich can be used to search Companies & Contacts, Enrich Lists, and offer integrations as an Endpoint for our\ncustomers.\n\nThe API is build using [RESTful](https://en.wikipedia.org/wiki/REST) principles and is secured using OAuth 2.0 with the implicit grant flow.\n\n# Authentication\n\n## API Key\n\n### 1. **Register Your Application**\nTo use the Seamless API, you need to register your application to obtain an API key.\nTo create a new API key, go to [Seamless.AI | Settings](https://login.seamless.ai/settings/public-api) > API Key and click the *Create New Connection* button.\nNote: The Public API Connections menu will only appear if your account has access to the Public API.\n\n### 2. **Use the Access Token**\nFor all authenticated API requests, include the API key in the header:\n\n```\nToken: API_KEY\n```\n\n## OAuth 2.0\n\n### 1. **Register Your Application**\n\nBefore integrating, you have to setup your client credentials.\n\nTo create a new API client, go to [Seamless.AI | Settings](https://login.seamless.ai/settings/public-api) > OAuth Connections, and click the *Create New Connection* button.\n\nNote: The Public API Connections menu will only appear if your account has access to the Public API.\n\n- `client_id`\n- `client_secret`\n- `redirect_uri`\n\nYou’ll use these to authenticate and obtain tokens.\n\n---\n\n### 2. **Obtain Authorization Code**\n\nRedirect the user to Seamless.AI's OAuth authorization endpoint:\n\n```\nGET https://login.seamless.ai/oauth/authorize\n```\n\n### Query Parameters:\n\n| Name | Description |\n| --- | --- |\n| `client_id` | Your client ID |\n| `redirect_uri` | The URL users are redirected to |\n| `state` | (Optional) CSRF protection string |\n\n**Example URL**:\n\n```\nGET https://login.seamless.ai/oauth/authorize?client_id=YOUR_CLIENT_ID&redirect_uri=https://yourapp.com/callback\n```\n\nOnce the user authenticates, they will be redirected to your `redirect_uri` with a `code` parameter. \nIf your `redirect_uri` contains any query parameters (such as `?foo=bar`), you must URL encode your `redirect_uri` for this step.\n\n---\n\n### 3. **Exchange Code for Access Token**\n\n```\nPOST https://api.seamless.ai/api/client/v1/oauth/accessToken\n```\n\n### Request Body (JSON):\n\n```json\n{\n  \"client_id\": \"YOUR_CLIENT_ID\",\n  \"client_secret\": \"YOUR_CLIENT_SECRET\",\n  \"redirect_uri\": \"https://yourapp.com/callback\",\n  \"grant_type\": \"authorization_code\",\n  \"code\": \"AUTHORIZATION_CODE_FROM_STEP_2\"\n}\n```\n\n### Response:\n\n```json\n{\n  \"access_token\": \"ACCESS_TOKEN\",\n  \"refresh_token\": \"REFRESH_TOKEN\",\n  \"expires_at\": 1712000000\n}\n```\n\n---\n\n### 4. **Use the Access Token**\n\nFor all authenticated API requests, include the token in the header:\n\n```\nAuthorization: Bearer ACCESS_TOKEN\n```\n\n---\n\n### 5. **Refreshing the Token**\n\nTo refresh the access token:\n\n```\nPOST https://api.seamless.ai/api/client/v1/oauth/accessToken\n```\n\n### Request Body:\n\n```json\n{\n  \"client_id\": \"YOUR_CLIENT_ID\",\n  \"client_secret\": \"YOUR_CLIENT_SECRET\",\n  \"redirect_uri\": \"https://yourapp.com/callback\",\n  \"grant_type\": \"refresh_token\",\n  \"refresh_token\": \"YOUR_REFRESH_TOKEN\"\n}\n```\n\n# Rate Limiting\n\nRate limits are enforced at the **organization** level. All API usage for your Seamless organization counts against the same quota for each endpoint—limits are not applied separately per API key or per user.\n\nThe default limit is **60 requests per minute** per endpoint. If you exceed the limit, the API responds with **429 Too Many Requests** and a JSON error body.\n\nSome endpoints may use different limits (for example, OAuth routes). Your organization may also have custom limits. The `X-RateLimit-Limit` header on each response always reflects the maximum number of requests allowed for that endpoint in the current rate limit window.\n\nRate limit and remaining credits information will be returned in the response header of each request. The parameters are:\n\n| Name | Example | Description |\n| --- | --- | --- |\n| `X-RateLimit-Limit` | 60 | The maximum number of requests you're permitted to make in the current rate limit window for this endpoint. |\n| `X-RateLimit-Remaining` | 42 | The number of requests remaining in the current rate limit window. |\n| `X-RateLimit-Reset` | 1745587198 | The time at which the current rate limit window resets in epoch seconds. |\n| `X-PublicAPI-Credits` | 1000 | The number of credits remaining that can be used in requests. |"
  version: 1.0.0
  x-logo:
    url: https://s3.amazonaws.com/seamless.ai-public/logos/logo-full-dark.svg
    altText: Seamless logo
    href: https://login.seamless.ai
  termsOfService: https://seamless.ai/policies/terms-of-use
servers:
- url: https://api.seamless.ai/api/client/v1
  description: Seamless API
security:
- OAuth2: []
- ApiKeyAuth: []
tags:
- name: OAuth
paths:
  /oauth/accessToken:
    post:
      summary: Get an access token
      operationId: getAccessToken
      tags:
      - OAuth
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                redirect_uri:
                  type: string
                grant_type:
                  type: string
                  enum:
                  - authorization_code
                  - refresh_token
                code:
                  type: string
                  description: Required if grant_type is authorization_code
                refresh_token:
                  type: string
                  description: Required if grant_type is refresh_token
              required:
              - client_id
              - client_secret
              - redirect_uri
              - grant_type
      responses:
        '200':
          description: The access token
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_at:
                    type: integer
                  refresh_token:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - message
                properties:
                  message:
                    description: A human readable error message
                    type: string
        '422':
          description: Insufficient credits or missing license
          content:
            application/json:
              schema:
                description: Insufficient credits or missing license
                type: object
                properties:
                  msg:
                    type: string
                  code:
                    type: string
                  data:
                    type: object
                    properties:
                      productCategory:
                        type: string
                      additionalCreditsNeeded:
                        type: integer
        '500':
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                required:
                - message
                properties:
                  message:
                    description: A human readable error message
                    type: string
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.seamless.ai/oauth/authorize
          tokenUrl: https://api.seamless.ai/api/client/v1/oauth/accessToken
          scopes: {}
    ApiKeyAuth:
      type: apiKey
      name: Token
      in: header
      description: API key passed via the Token header.
    webhookSecret:
      type: apiKey
      description: Webhook secret that you can use to validate the request is originated by Seamless
      name: x-seamless-webhook-secret
      in: header
x-tagGroups:
- name: OAuth
  tags:
  - OAuth
- name: Search
  tags:
  - Contact Search
  - Company Search
- name: Research
  tags:
  - Contact Research
  - Company Research
- name: Org Contacts/Companies
  tags:
  - Org Contacts
  - Org Companies
