{"openapi":"3.0.0","info":{"title":"Seamless API","description":"[Privacy Policy](https://seamless.ai/policies/privacy-policy)\n        \nIn order to dramatically improve our offerings to customers, Seamless will be introducing a Public API\nwhich can be used to search Companies & Contacts, Enrich Lists, and offer integrations as an Endpoint for our\ncustomers.\n\nThe API is build using [RESTful](https://en.wikipedia.org/wiki/REST) principles and is secured using OAuth 2.0 with the implicit grant flow.\n\n# Authentication\n\n## API Key\n\n### 1. **Register Your Application**\nTo use the Seamless API, you need to register your application to obtain an API key.\nTo create a new API key, go to [Seamless.AI | Settings](https://login.seamless.ai/settings/public-api) > API Key and click the *Create New Connection* button.\nNote: The Public API Connections menu will only appear if your account has access to the Public API.\n\n### 2. **Use the Access Token**\nFor all authenticated API requests, include the API key in the header:\n\n```\nToken: API_KEY\n```\n\n## OAuth 2.0\n\n### 1. **Register Your Application**\n\nBefore integrating, you have to setup your client credentials.\n\nTo create a new API client, go to [Seamless.AI | Settings](https://login.seamless.ai/settings/public-api) > OAuth Connections, and click the *Create New Connection* button.\n\nNote: The Public API Connections menu will only appear if your account has access to the Public API.\n\n- `client_id`\n- `client_secret`\n- `redirect_uri`\n\nYou’ll use these to authenticate and obtain tokens.\n\n---\n\n### 2. **Obtain Authorization Code**\n\nRedirect the user to Seamless.AI's OAuth authorization endpoint:\n\n```\nGET https://login.seamless.ai/oauth/authorize\n```\n\n### Query Parameters:\n\n| Name | Description |\n| --- | --- |\n| `client_id` | Your client ID |\n| `redirect_uri` | The URL users are redirected to |\n| `state` | (Optional) CSRF protection string |\n\n**Example URL**:\n\n```\nGET https://login.seamless.ai/oauth/authorize?client_id=YOUR_CLIENT_ID&redirect_uri=https://yourapp.com/callback\n```\n\nOnce the user authenticates, they will be redirected to your `redirect_uri` with a `code` parameter. \nIf your `redirect_uri` contains any query parameters (such as `?foo=bar`), you must URL encode your `redirect_uri` for this step.\n\n---\n\n### 3. **Exchange Code for Access Token**\n\n```\nPOST https://api.seamless.ai/api/client/v1/oauth/accessToken\n```\n\n### Request Body (JSON):\n\n```json\n{\n  \"client_id\": \"YOUR_CLIENT_ID\",\n  \"client_secret\": \"YOUR_CLIENT_SECRET\",\n  \"redirect_uri\": \"https://yourapp.com/callback\",\n  \"grant_type\": \"authorization_code\",\n  \"code\": \"AUTHORIZATION_CODE_FROM_STEP_2\"\n}\n```\n\n### Response:\n\n```json\n{\n  \"access_token\": \"ACCESS_TOKEN\",\n  \"refresh_token\": \"REFRESH_TOKEN\",\n  \"expires_at\": 1712000000\n}\n```\n\n---\n\n### 4. **Use the Access Token**\n\nFor all authenticated API requests, include the token in the header:\n\n```\nAuthorization: Bearer ACCESS_TOKEN\n```\n\n---\n\n### 5. **Refreshing the Token**\n\nTo refresh the access token:\n\n```\nPOST https://api.seamless.ai/api/client/v1/oauth/accessToken\n```\n\n### Request Body:\n\n```json\n{\n  \"client_id\": \"YOUR_CLIENT_ID\",\n  \"client_secret\": \"YOUR_CLIENT_SECRET\",\n  \"redirect_uri\": \"https://yourapp.com/callback\",\n  \"grant_type\": \"refresh_token\",\n  \"refresh_token\": \"YOUR_REFRESH_TOKEN\"\n}\n```\n\n# Rate Limiting\n\nRate limits are enforced at the **organization** level. All API usage for your Seamless organization counts against the same quota for each endpoint—limits are not applied separately per API key or per user.\n\nThe default limit is **60 requests per minute** per endpoint. If you exceed the limit, the API responds with **429 Too Many Requests** and a JSON error body.\n\nSome endpoints may use different limits (for example, OAuth routes). Your organization may also have custom limits. The `X-RateLimit-Limit` header on each response always reflects the maximum number of requests allowed for that endpoint in the current rate limit window.\n\nRate limit and remaining credits information will be returned in the response header of each request. The parameters are:\n\n| Name | Example | Description |\n| --- | --- | --- |\n| `X-RateLimit-Limit` | 60 | The maximum number of requests you're permitted to make in the current rate limit window for this endpoint. |\n| `X-RateLimit-Remaining` | 42 | The number of requests remaining in the current rate limit window. |\n| `X-RateLimit-Reset` | 1745587198 | The time at which the current rate limit window resets in epoch seconds. |\n| `X-PublicAPI-Credits` | 1000 | The number of credits remaining that can be used in requests. |","version":"1.0.0","x-logo":{"url":"https://s3.amazonaws.com/seamless.ai-public/logos/logo-full-dark.svg","altText":"Seamless logo","href":"https://login.seamless.ai"},"termsOfService":"https://seamless.ai/policies/terms-of-use"},"servers":[{"url":"https://api.seamless.ai/api/client/v1","description":"Seamless API"}],"components":{"securitySchemes":{"OAuth2":{"type":"oauth2","flows":{"authorizationCode":{"authorizationUrl":"https://login.seamless.ai/oauth/authorize","tokenUrl":"https://api.seamless.ai/api/client/v1/oauth/accessToken","scopes":{}}}},"ApiKeyAuth":{"type":"apiKey","name":"Token","in":"header","description":"API key passed via the Token header."},"webhookSecret":{"type":"apiKey","description":"Webhook secret that you can use to validate the request is originated by Seamless","name":"x-seamless-webhook-secret","in":"header"}}},"security":[{"OAuth2":[]},{"ApiKeyAuth":[]}],"x-tagGroups":[{"name":"OAuth","tags":["OAuth"]},{"name":"Search","tags":["Contact Search","Company Search"]},{"name":"Research","tags":["Contact Research","Company Research"]},{"name":"Org Contacts/Companies","tags":["Org Contacts","Org Companies"]}],"paths":{"/companies":{"get":{"summary":"Get Org Companies","description":"Get a list of companies from your orgs","operationId":"getCompanies","tags":["Org Companies"],"security":[{"OAuth2":[]},{"ApiKeyAuth":[]}],"parameters":[{"name":"page","in":"query","description":"The page number to retrieve.","schema":{"type":"integer","default":1,"example":1}},{"name":"limit","in":"query","description":"The number of results per page.","schema":{"type":"integer","default":500,"maximum":500,"example":100}},{"name":"startDate","required":true,"in":"query","description":"An ISO8601 date time string that defines the start date of the lookback period to return results from.","schema":{"type":"string","format":"date-time","example":"2020-01-01T10:00:00Z"}},{"name":"endDate","required":true,"in":"query","description":"An ISO8601 date time string that defines the end date of the lookback period to return results from.","schema":{"type":"string","format":"date-time","example":"2020-01-01T11:00:00Z"}}],"responses":{"200":{"description":"Company Results","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"A list of companies from your orgs","type":"array","items":{"type":"object","properties":{"advertisingIntelligenceUrl":{"type":"string","description":"URL to advertising intelligence data for the company.","example":"https://intel.example.com/company/12938475/advertising"},"alexaScoreUrl":{"type":"string","description":"URL to Alexa score and rank details.","example":"https://intel.example.com/company/12938475/alexa"},"annualRevenue":{"type":"string","description":"Estimated annual revenue value.","example":"1000000001"},"apiResearchId":{"type":"string","description":"The API research identifier for companies created through API research","example":"research-123"},"phones":{"type":"string","description":"Comma-separated company phone numbers.","example":"+1-650-555-0100,+1-650-555-0101"},"phonesAiScores":{"type":"string","description":"Comma-separated AI confidence scores for each phone number in `phones`.","example":"98,86"},"createdAt":{"type":"string","description":"Timestamp when this company record was created.","example":"2024-04-21T14:30:00.000Z"},"description":{"type":"string","description":"Company profile description text.","example":"Seamless.AI is a sales intelligence platform."},"domain":{"type":"string","description":"Primary website domain of the company.","example":"seamless.ai"},"employeeReviewsUrl":{"type":"string","description":"URL to employee reviews intelligence.","example":"https://intel.example.com/company/12938475/employee-reviews"},"foundedOn":{"type":"string","description":"Company founding date, when available.","format":"date","example":"2015-01-01"},"googleFinanceUrl":{"type":"string","description":"URL to Google Finance data for the company.","example":"https://www.google.com/finance/quote/EXAMPLE:NASDAQ"},"googleResearchUrl":{"type":"string","description":"URL to Google research/profile results for the company.","example":"https://www.google.com/search?q=seamless.ai"},"industries":{"type":"string","description":"Comma-separated industry labels for the company.","example":"Information Technology and Services,Computer Software"},"intelUrl":{"type":"string","description":"URL to general company intelligence overview.","example":"https://intel.example.com/company/12938475/overview"},"jobPostingsUrl":{"type":"string","description":"URL to job posting intelligence for the company.","example":"https://intel.example.com/company/12938475/jobs"},"linkedInProfileUrl":{"type":"string","description":"LinkedIn company profile URL.","example":"https://www.linkedin.com/company/seamless-ai/"},"linkedInId":{"type":"string","description":"LinkedIn company identifier.","example":"1234567"},"localSportsTeamsUrl":{"type":"string","description":"URL to local sports context for the company location.","example":"https://intel.example.com/company/12938475/local-sports"},"localWeatherUrl":{"type":"string","description":"URL to local weather context for the company location.","example":"https://intel.example.com/company/12938475/local-weather"},"location":{"type":"object","properties":{"street1":{"type":"string","description":"Primary street line of the company location.","example":"800 W El Camino Real"},"city":{"type":"string","description":"City of the company location.","example":"Mountain View"},"state":{"type":"string","description":"State or region of the company location.","example":"CA"},"postCode":{"type":"string","description":"Postal or zip code of the company location.","example":"94040"},"country":{"type":"string","description":"Country name of the company location.","example":"United States"},"countryAbbr":{"type":"string","description":"Abbreviated country code used in location metadata.","example":"US"},"countryAlpha2":{"type":"string","description":"ISO 3166-1 alpha-2 country code.","example":"US"},"countryAlpha3":{"type":"string","description":"ISO 3166-1 alpha-3 country code.","example":"USA"},"fullString":{"type":"string","description":"Full formatted location string.","example":"800 W El Camino Real, Mountain View, CA 94040, United States"}}},"name":{"type":"string","description":"Canonical company name.","example":"Seamless.AI"},"newsUrl":{"type":"string","description":"URL to aggregated company news.","example":"https://intel.example.com/company/12938475/news"},"paidSearchIntelligenceUrl":{"type":"string","description":"URL to paid search intelligence details.","example":"https://intel.example.com/company/12938475/paid-search"},"paidSearchKeywordsIntelligenceUrl":{"type":"string","description":"URL to paid search keyword intelligence details.","example":"https://intel.example.com/company/12938475/paid-search-keywords"},"revenueRange":{"type":"string","description":"Revenue range bucket for the company.","example":"$1B+"},"searchMarketingIntelligenceUrl":{"type":"string","description":"URL to search marketing intelligence details.","example":"https://intel.example.com/company/12938475/search-marketing"},"secFilingsUrl":{"type":"string","description":"URL to SEC filings and regulatory disclosures.","example":"https://www.sec.gov/edgar/browse/?CIK=0000000"},"seoResearchUrl":{"type":"string","description":"URL to SEO research and metrics.","example":"https://intel.example.com/company/12938475/seo"},"sicCode":{"type":"string","description":"Standard Industrial Classification (SIC) code.","example":"4832"},"similarWebsitesUrl":{"type":"string","description":"URL to similar websites intelligence.","example":"https://intel.example.com/company/12938475/similar-sites"},"socialMediaMentionsUrl":{"type":"string","description":"URL to social media mentions analytics.","example":"https://intel.example.com/company/12938475/social-mentions"},"socialMediaPostsUrl":{"type":"string","description":"URL to social media posts analytics.","example":"https://intel.example.com/company/12938475/social-posts"},"socialPostsUrl":{"type":"string","description":"URL to general social posts aggregation.","example":"https://intel.example.com/company/12938475/posts"},"staffCount":{"type":"string","description":"Estimated staff count value.","example":"750"},"staffCountRange":{"type":"string","description":"Staff count range bucket.","example":"501 - 1,000"},"topTechnologies":{"type":"string","description":"Comma-separated list of top detected technologies.","example":"Adobe SiteCatalyst,Adobe Tag Manager,Akamai"},"updatedAt":{"type":"string","description":"Timestamp when this company record was last updated.","example":"2024-04-21T14:30:00.000Z"},"webTechnologiesUrl":{"type":"string","description":"URL to web technologies intelligence.","example":"https://intel.example.com/company/12938475/web-technologies"},"websiteAuditUrl":{"type":"string","description":"URL to website audit results.","example":"https://intel.example.com/company/12938475/website-audit"},"websiteAudit2Url":{"type":"string","description":"URL to secondary website audit data.","example":"https://intel.example.com/company/12938475/website-audit-2"},"websiteGraderUrl":{"type":"string","description":"URL to website grader report.","example":"https://intel.example.com/company/12938475/website-grader"},"whoisUrl":{"type":"string","description":"URL to WHOIS domain registration details.","example":"https://who.is/whois/seamless.ai"},"wikipediaUrl":{"type":"string","description":"URL to the company Wikipedia page, when available.","example":"https://en.wikipedia.org/wiki/Example_Company"},"yahooFinanceUrl":{"type":"string","description":"URL to Yahoo Finance profile/data.","example":"https://finance.yahoo.com/quote/EXAMPLE"},"newsAndEvents":{"type":"array","description":"Recent news articles related to the company.","items":{"type":"object","properties":{"title":{"description":"The headline of the news article.","type":"string"},"url":{"description":"The URL to the full news article.","type":"string"},"date":{"description":"The date the news article was published.","type":"string","format":"date-time"},"type":{"description":"The type of news article (e.g., \"Acquisition\").","type":"string"}}}},"fundingTotal":{"type":"string","description":"The latest total funding amount for the company.","example":"100000"},"latestFundingDate":{"type":"string","format":"date","description":"The date of the latest funding round for the company (formatted as \"YYYY-MM-DD\").","example":"2023-08-12"},"latestFundingClassifications":{"type":"array","description":"The classifications of the latest funding round for the company (e.g., \"Series A\", \"Pre-Seed\", etc.).","example":["Series D"],"items":{"type":"string"}},"companyType":{"type":"string","nullable":true,"description":"Company type — \"Public\" or \"Private\" when determined.","enum":["Public","Private"],"example":"Public"},"stockTicker":{"type":"string","nullable":true,"description":"Stock ticker symbol of the company, if publicly traded.","example":"AAPL"}}}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"message":{"description":"A human readable error message","type":"string"}}}}}},"422":{"description":"Insufficient credits or missing license","content":{"application/json":{"schema":{"description":"Insufficient credits or missing license","type":"object","properties":{"msg":{"type":"string"},"code":{"type":"string"},"data":{"type":"object","properties":{"productCategory":{"type":"string"},"additionalCreditsNeeded":{"type":"integer"}}}}}}}},"500":{"description":"Unexpected error","content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"message":{"description":"A human readable error message","type":"string"}}}}}}}}},"/contacts":{"get":{"summary":"Get Org Contacts","description":"Get a list of contacts from your orgs","operationId":"getContacts","tags":["Org Contacts"],"security":[{"OAuth2":[]},{"ApiKeyAuth":[]}],"parameters":[{"name":"page","in":"query","description":"The page number to retrieve.","schema":{"type":"integer","default":1,"example":1}},{"name":"limit","in":"query","description":"The number of results per page.","schema":{"type":"integer","default":500,"maximum":500,"example":100}},{"name":"startDate","required":true,"in":"query","description":"An ISO8601 date time string that defines the start date of the lookback period to return results from.","schema":{"type":"string","format":"date-time","example":"2020-01-01T10:00:00Z"}},{"name":"endDate","required":true,"in":"query","description":"An ISO8601 date time string that defines the end date of the lookback period to return results from.","schema":{"type":"string","format":"date-time","example":"2020-01-01T11:00:00Z"}}],"responses":{"200":{"description":"Contact Results","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","description":"A list of contacts from your orgs","items":{"type":"object","description":"Full contact record returned by the Seamless.AI research engine.","properties":{"contactId":{"type":"string","description":"Unique identifier for this contact record.","example":"699447129"},"username":{"type":"string","description":"Email address of the Seamless.AI user who researched this contact.","example":"user@example.com"},"createdAt":{"type":"string","format":"date-time","description":"Timestamp when this contact record was created.","example":"2026-01-15T10:30:00.000Z"},"updatedAt":{"type":"string","format":"date-time","description":"Timestamp when this contact record was last updated.","example":"2026-01-15T10:30:00.000Z"},"firstName":{"type":"string","description":"Contact's first name.","example":"Jane"},"middleName":{"type":"string","description":"Contact's middle name, if available.","example":""},"lastName":{"type":"string","description":"Contact's last name.","example":"Smith"},"fullName":{"type":"string","description":"Contact's full display name (first + middle + last).","example":"Jane Smith"},"name":{"type":"string","description":"Contact's display name.","example":"Jane Smith"},"nameOriginal":{"type":"string","description":"Contact's name as originally sourced, before any normalization.","example":"Jane Smith"},"email":{"type":"string","description":"Primary email address selected for this contact.","example":"jsmith@example.com"},"personalEmail":{"type":"string","description":"Personal (non-work) email address, if available.","example":""},"contactPhone1":{"type":"string","description":"Primary direct phone number for the contact.","example":"415.555.0101"},"contactPhone1TotalAI":{"type":"string","description":"Confidence score (percentage) for the primary contact phone number.","example":"98%"},"contactPhone1DataType":{"type":"string","description":"Type classification of the primary contact phone (e.g., mobile, main).","example":"mobile"},"contactPhone2":{"type":"string","description":"Secondary direct phone number for the contact.","example":"415.555.0102"},"contactPhone2DataType":{"type":"string","description":"Type classification of the secondary contact phone.","example":"main"},"companyPhone1":{"type":"string","description":"Primary phone number for the contact's company.","example":"650.555.0200"},"companyPhone1TotalAI":{"type":"string","description":"Confidence score (percentage) for the primary company phone number.","example":"99%"},"companyPhone1DataType":{"type":"string","description":"Type classification of the primary company phone.","example":"company"},"companyPhone2":{"type":"string","description":"Secondary phone number for the contact's company.","example":"650.555.0201"},"companyPhone2TotalAI":{"type":"string","description":"Confidence score (percentage) for the secondary company phone number.","example":"22%"},"companyPhone2DataType":{"type":"string","description":"Type classification of the secondary company phone.","example":"company"},"companyPhone3":{"type":"string","description":"Tertiary phone number for the contact's company.","example":"650.555.0202"},"companyPhone3TotalAI":{"type":"string","description":"Confidence score (percentage) for the tertiary company phone number.","example":"4%"},"companyPhone3DataType":{"type":"string","description":"Type classification of the tertiary company phone.","example":"company"},"company":{"type":"string","description":"Current company name of the contact.","example":"Acme Corp"},"companyOriginal":{"type":"string","description":"Company name as originally sourced, before any normalization.","example":"Acme Corp"},"companyDescription":{"type":"string","description":"Description or summary of the contact's company.","example":"Acme Corp is a leading provider of innovative business solutions."},"companyFounded":{"type":"string","description":"Year the company was founded.","example":"2004"},"companyIndustry":{"type":"string","description":"Industry classification of the contact's company.","example":"Computer Software"},"companyStaffCount":{"type":"integer","description":"Approximate total number of employees at the company.","example":10001},"companyStaffCountRange":{"type":"string","description":"Human-readable employee count range.","example":"10,001+ employees"},"companyAnnualRevenue":{"type":"string","description":"Estimated annual revenue in USD (numeric string).","example":"1000000001"},"companyDomain":{"type":"string","description":"Primary website domain of the company.","example":"acmecorp.com"},"companyRevenueRange":{"type":"string","description":"Human-readable revenue range.","example":"$1B+"},"companyLIProfileUrl":{"type":"string","description":"LinkedIn company page URL.","example":"https://www.linkedin.com/company/acme-corp"},"companyLinkedInId":{"type":"string","description":"LinkedIn numeric identifier for the company.","example":"10667"},"title":{"type":"string","description":"Contact's current job title.","example":"Finance Director"},"department":{"type":"string","description":"Department the contact works in.","example":"Finance"},"seniority":{"type":"string","description":"Seniority level of the contact's role (e.g., C-Level, VP, Director, Manager, Senior, Entry Level).","example":"Director"},"lIProfileUrl":{"type":"string","description":"Contact's LinkedIn public profile URL.","example":"https://www.linkedin.com/in/janesmith"},"lISalesNavUrl":{"type":"string","description":"Contact's LinkedIn Sales Navigator profile URL.","example":"https://www.linkedin.com/sales/lead/ACoAAA..."},"lIRecruiterUrl":{"type":"string","description":"Contact's LinkedIn Recruiter profile URL.","example":"https://www.linkedin.com/talent/search/profile/AEMAA..."},"contactLocation":{"type":"object","description":"Geographic location of the contact.","properties":{"city":{"type":"string","description":"City where the contact is located.","example":"San Francisco"},"state":{"type":"string","description":"Full state or province name.","example":"California"},"postCode":{"type":"string","description":"Postal or ZIP code.","example":"94107"},"county":{"type":"string","description":"County name, if available.","example":""},"country":{"type":"string","description":"Full country name.","example":"United States"},"stateAbbr":{"type":"string","description":"Two-letter state or province abbreviation.","example":"CA"},"countryAbbr":{"type":"string","description":"Two-letter country abbreviation (ISO 3166-1 alpha-2).","example":"US"},"countryAlpha2":{"type":"string","description":"ISO 3166-1 alpha-2 country code.","example":"US"},"countryAlpha3":{"type":"string","description":"ISO 3166-1 alpha-3 country code.","example":"USA"},"countryNumeric":{"type":"integer","description":"ISO 3166-1 numeric country code.","example":840},"fullString":{"type":"string","description":"Fully formatted location string.","example":"San Francisco, CA 94107, United States"},"timezone":{"type":"string","description":"Timezone name with abbreviation.","example":"Pacific (PDT)"},"timezoneRawOffset":{"type":"string","description":"UTC offset of the timezone in hours.","example":"-8.00"},"timezoneAbbr":{"type":"string","description":"Timezone abbreviation.","example":"PDT"}}},"companyLocation":{"type":"object","description":"Headquarters or primary office address of the contact's company.","properties":{"street1":{"type":"string","description":"Primary street address line.","example":"1 Hacker Way"},"street2":{"type":"string","description":"Secondary street address line (suite, floor, etc.).","example":""},"street3":{"type":"string","description":"Tertiary street address line.","example":""},"city":{"type":"string","description":"City name.","example":"Menlo Park"},"state":{"type":"string","description":"Full state or province name.","example":"California"},"postCode":{"type":"string","description":"Postal or ZIP code.","example":"94025"},"county":{"type":"string","description":"County name, if available.","example":""},"country":{"type":"string","description":"Full country name.","example":"United States"},"stateAbbr":{"type":"string","description":"Two-letter state or province abbreviation.","example":"CA"},"countryAbbr":{"type":"string","description":"Two-letter country abbreviation (ISO 3166-1 alpha-2).","example":"US"},"countryAlpha2":{"type":"string","description":"ISO 3166-1 alpha-2 country code.","example":"US"},"countryAlpha3":{"type":"string","description":"ISO 3166-1 alpha-3 country code.","example":"USA"},"countryNumeric":{"type":"integer","description":"ISO 3166-1 numeric country code.","example":840},"fullString":{"type":"string","description":"Fully formatted address string.","example":"1 Hacker Way, Menlo Park, CA 94025, United States"}}},"website":{"type":"string","description":"Company website domain.","example":"acmecorp.com"},"emailDomain":{"type":"string","description":"Domain portion of the contact's email address, if available.","example":""},"image":{"type":"string","description":"URL to the contact's profile photo, if available.","example":""},"email1":{"type":"string","description":"First email address found for the contact (typically the primary/selected email).","example":"jsmith@example.com"},"email1Selected":{"type":"boolean","description":"Whether this email was selected as the primary email for the contact.","example":true},"email1TotalAI":{"type":"string","description":"Confidence score (percentage) for the first email address.","example":"97%"},"email1EmailAI":{"type":"string","description":"Email validation status for the first email address (e.g., valid, invalid, risky).","example":"valid"},"email2":{"type":"string","description":"Second email address found for the contact.","example":"jane.smith@example.com"},"email2TotalAI":{"type":"string","description":"Confidence score (percentage) for the second email address.","example":"97%"},"email2EmailAI":{"type":"string","description":"Email validation status for the second email address.","example":"valid"},"email3":{"type":"string","description":"Third email address found for the contact.","example":"janes@example.com"},"email3TotalAI":{"type":"string","description":"Confidence score (percentage) for the third email address.","example":"97%"},"email3EmailAI":{"type":"string","description":"Email validation status for the third email address.","example":"valid"},"advertisingIntelligence":{"type":"string","description":"URL to advertising intelligence data for the contact's company.","example":"http://www.moat.com/advertiser/AcmeCorp"},"alexaScore":{"type":"string","description":"URL to Alexa site information for the company domain.","example":"http://www.alexa.com/siteinfo/acmecorp.com"},"companyNews":{"type":"string","description":"URL to Google News search results for the company.","example":"https://www.google.com/search?q=Acme+Corp&tbm=nws"},"employeeReviews":{"type":"string","description":"URL to Glassdoor employee reviews for the company.","example":"http://www.glassdoor.com/Reviews/Acme-Corp-reviews-SRCH_KE0,9.htm"},"googleFinance":{"type":"string","description":"URL to Google Finance page for the company.","example":"http://www.google.com/finance?q=Acme+Corp"},"googleResearch":{"type":"string","description":"URL to a Google search for the contact at their company.","example":"https://www.google.com/search?q=Jane+Smith+Acme+Corp"},"jobPostings":{"type":"string","description":"URL to Glassdoor job postings for the company.","example":"http://www.glassdoor.com/Job/jobs.htm?suggestCount=0&suggestChosen=false&sc.keyword=Acme+Corp"},"localSportsTeams":{"type":"string","description":"URL to a Google search for local sports teams near the company HQ.","example":"https://www.google.com/search?q=Menlo+Park+California+sports+teams"},"localWeather":{"type":"string","description":"URL to a Google search for weather near the company HQ.","example":"https://www.google.com/search?q=Menlo+Park+California+weather"},"paidSearchIntelligence":{"type":"string","description":"URL to SEMrush paid search data for the company domain.","example":"http://www.semrush.com/info/acmecorp.com"},"paidSearchKeywordsIntelligence":{"type":"string","description":"URL to KeywordSpy keyword research for the company domain.","example":"http://www.keywordspy.com/research/search.aspx?q=acmecorp.com&tab=domain-overview"},"searchMarketingIntelligence":{"type":"string","description":"URL to iSpionage search marketing data for the company domain.","example":"http://www.ispionage.com/research/US/acmecorp.com"},"secFilings":{"type":"string","description":"URL to SEC EDGAR filings for the company.","example":"https://www.sec.gov/cgi-bin/browse-edgar?company=Acme+Corp&owner=exclude&action=getcompany"},"seoResearch":{"type":"string","description":"URL to Ahrefs SEO data for the company domain.","example":"https://ahrefs.com/site-explorer/overview/subdomains?target=acmecorp.com"},"similarWebsites":{"type":"string","description":"URL to find websites similar to the company domain.","example":"https://www.similarsitesearch.com/search/?URL=acmecorp.com"},"socialMediaMentions":{"type":"string","description":"URL to social media mention tracking for the company domain.","example":"http://socialmention.com/search?q=acmecorp.com&t=all&btnG=Search"},"socialMediaPosts":{"type":"string","description":"URL to social media post search for the company domain.","example":"http://www.social-searcher.com/social-buzz/?q5=acmecorp.com"},"socialPosts":{"type":"string","description":"URL to blog/social post search for the contact.","example":"http://www.icerocket.com/search?q=Jane+Smith"},"websiteAudit":{"type":"string","description":"URL to SimilarWeb traffic analysis for the company domain.","example":"http://www.similarweb.com/website/acmecorp.com"},"websiteAudit2":{"type":"string","description":"URL to WooRank website audit for the company domain.","example":"https://www.woorank.com/en/www/acmecorp.com"},"websiteGrader":{"type":"string","description":"URL to HubSpot Website Grader analysis for the company domain.","example":"https://website.grader.com/tests/acmecorp.com"},"webTechnologies":{"type":"string","description":"URL to BuiltWith technology lookup for the company domain.","example":"https://builtwith.com/acmecorp.com"},"whois":{"type":"string","description":"URL to WHOIS domain registration lookup for the company domain.","example":"http://www.whois.com/whois/acmecorp.com"},"wikipedia":{"type":"string","description":"URL to the Wikipedia page for the company, if available.","example":"https://en.wikipedia.org/wiki/Acme_Corp"},"yahooFinance":{"type":"string","description":"URL to Yahoo Finance page for the company.","example":"http://finance.yahoo.com/q?s=Acme+Corp"},"formerCompany":{"type":"string","description":"Name of the contact's most recent previous employer.","example":"Previous Corp"},"formerTitle":{"type":"string","description":"Job title at the contact's most recent previous employer.","example":"Finance Manager"},"formerStartedAt":{"type":"string","format":"date","description":"Date the contact started at their former company (YYYY-MM-DD).","example":"2014-05-01"},"formerEndedAt":{"type":"string","format":"date","description":"Date the contact left their former company (YYYY-MM-DD).","example":"2019-01-01"},"titleStartedAt":{"type":"string","format":"date","description":"Date the contact started their current title (YYYY-MM-DD).","example":"2019-02-01"},"startedAtCurrentCompany":{"type":"string","format":"date","description":"Date the contact started at their current company (YYYY-MM-DD).","example":"2014-05-01"},"timeAtRole":{"type":"string","description":"Human-readable tenure in the contact's current role, derived from `titleStartedAt` (e.g. \"1 Yr 2 Mo\", \"3 Mo\").","example":"1 Yr 2 Mo"},"timeAtCompany":{"type":"string","description":"Human-readable tenure at the contact's current company, derived from `startedAtCurrentCompany` (e.g. \"1 Yr 2 Mo\", \"3 Mo\").","example":"5 Yr"},"jobHistory":{"type":"array","description":"Contact's job history.","items":{"type":"object","properties":{"companyName":{"type":"string","description":"Company name for this job."},"title":{"type":"string","description":"Job title/position."},"startedAt":{"type":"string","format":"date-time","description":"When the contact started this job."},"endedAt":{"type":"string","format":"date-time","description":"When the contact ended this job (null for current job)."}}}},"jobChangeAlert":{"type":"string","description":"Type of job change detected given provided or default job change date range. When detected; 'New Hire' = joined a new company, 'New Promotion' = new role at the same company.\n","enum":["New Hire","New Promotion"],"nullable":true},"companyType":{"type":"string","nullable":true,"description":"Company type — \"Public\" or \"Private\" when determined.","enum":["Public","Private"],"example":"Public"},"stockTicker":{"type":"string","nullable":true,"description":"Stock ticker symbol of the company, if publicly traded.","example":"AAPL"},"apiResearchId":{"type":"string","description":"The request ID returned from the /contacts/research endpoint. Use this to correlate research requests with results.","example":"6Ei5iKuSHzJXvqjVPWiZ_"},"newsAndEvents":{"type":"array","description":"Recent news articles related to the company.","items":{"type":"object","properties":{"title":{"description":"The headline of the news article.","type":"string"},"url":{"description":"The URL to the full news article.","type":"string"},"date":{"description":"The date the news article was published.","type":"string","format":"date-time"},"type":{"description":"The type of news article (e.g., \"Acquisition\").","type":"string"}}}},"companyFundingTotal":{"type":"string","description":"The latest total funding amount for the company.","example":"100000"},"companyLatestFundingDate":{"type":"string","format":"date","description":"The date of the latest funding round for the company (formatted as \"YYYY-MM-DD\").","example":"2023-08-12"},"companyLatestFundingClassifications":{"type":"array","description":"The classifications of the latest funding round for the company (e.g., \"Series A\", \"Pre-Seed\", etc.).","example":["Series D"],"items":{"type":"string"}}}}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"message":{"description":"A human readable error message","type":"string"}}}}}},"422":{"description":"Insufficient credits or missing license","content":{"application/json":{"schema":{"description":"Insufficient credits or missing license","type":"object","properties":{"msg":{"type":"string"},"code":{"type":"string"},"data":{"type":"object","properties":{"productCategory":{"type":"string"},"additionalCreditsNeeded":{"type":"integer"}}}}}}}},"500":{"description":"Unexpected error","content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"message":{"description":"A human readable error message","type":"string"}}}}}}}}},"/oauth/accessToken":{"post":{"summary":"Get an access token","operationId":"getAccessToken","tags":["OAuth"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"client_id":{"type":"string"},"client_secret":{"type":"string"},"redirect_uri":{"type":"string"},"grant_type":{"type":"string","enum":["authorization_code","refresh_token"]},"code":{"type":"string","description":"Required if grant_type is authorization_code"},"refresh_token":{"type":"string","description":"Required if grant_type is refresh_token"}},"required":["client_id","client_secret","redirect_uri","grant_type"]}}}},"responses":{"200":{"description":"The access token","content":{"application/json":{"schema":{"type":"object","properties":{"access_token":{"type":"string"},"expires_at":{"type":"integer"},"refresh_token":{"type":"string"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"message":{"description":"A human readable error message","type":"string"}}}}}},"422":{"description":"Insufficient credits or missing license","content":{"application/json":{"schema":{"description":"Insufficient credits or missing license","type":"object","properties":{"msg":{"type":"string"},"code":{"type":"string"},"data":{"type":"object","properties":{"productCategory":{"type":"string"},"additionalCreditsNeeded":{"type":"integer"}}}}}}}},"500":{"description":"Unexpected error","content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"message":{"description":"A human readable error message","type":"string"}}}}}}}}},"/search/companies":{"post":{"summary":"Search companies","operationId":"searchCompanies","tags":["Company Search"],"security":[{"OAuth2":[]},{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"nextToken":{"description":"Opaque cursor token from a previous `/search/companies` response. Use this to fetch the next page of results.","type":"string","default":null,"example":"eyJwYWdlIjoyLCJzZWFyY2hJZCI6IjEyMzQ1In0="},"limit":{"description":"Number of companies to return per page before credit-based trimming is applied.","type":"integer","default":50,"example":50},"companyName":{"type":"array","items":{"type":"string"},"maxItems":100,"description":"Company names to match. Use this when you know full company names or key name fragments.","example":["Seamless AI"]},"companyNameSearchType":{"description":"Matching strategy for `companyName` (`default` = standard matching, `related` = include aliases/related names, `exact` = exact company name only).","type":"string","enum":["default","related","exact"],"default":"default","example":"related"},"companyDomain":{"type":"array","items":{"type":"string"},"maxItems":100,"description":"Company website domains to match (for example root domains without protocol).","example":["seamless.ai"]},"companyState":{"type":"array","items":{"type":"string","enum":["NY","Texas","Florida","VA","CA"]},"maxItems":10,"description":"Company location state filters. Combined with country/zip filters as part of location matching.","example":["CA"]},"companyCountry":{"type":"array","items":{"type":"string","enum":["United States","Canada","United Kingdom","Germany","Australia"]},"maxItems":10,"description":"Company location country filters. Combined with state/zip filters as part of location matching.","example":["United States"]},"companyZipCode":{"type":"array","items":{"type":"string","enum":["10001","30301","33101","60601","94105"]},"maxItems":10,"description":"Company postal/zip code filters for location-based matching.","example":["94105"]},"industry":{"type":"array","items":{"type":"string","enum":["Accounting","Airlines/Aviation","Alternative Dispute Resolution","Alternative Medicine","Animation","Apparel & Fashion","Architecture & Planning","Arts and Crafts","Automotive","Aviation & Aerospace","Banking","Biotechnology","Broadcast Media","Building Materials","Business Supplies and Equipment","Capital Markets","Chemicals","Civic & Social Organization","Civil Engineering","Commercial Real Estate","Computer & Network Security","Computer Games","Computer Hardware","Computer Networking","Computer Software","Construction","Consumer Electronics","Consumer Goods","Consumer Services","Cosmetics","Dairy","Defense & Space","Design","E-Learning","Education Management","Electrical/Electronic Manufacturing","Entertainment","Environmental Services","Events Services","Executive Office","Facilities Services","Farming","Financial Services","Fine Art","Fishery","Food & Beverages","Food Production","Fund-Raising","Furniture","Gambling & Casinos","Glass, Ceramics & Concrete","Government Administration","Government Relations","Graphic Design","Health, Wellness and Fitness","Higher Education","Hospital & Health Care","Hospitality","Human Resources","Import and Export","Individual & Family Services","Industrial Automation","Information Services","Information Technology and Services","Insurance","International Affairs","International Trade and Development","Internet","Investment Banking","Investment Management","Judiciary","Law Enforcement","Law Practice","Legal Services","Legislative Office","Leisure, Travel & Tourism","Libraries","Logistics and Supply Chain","Luxury Goods & Jewelry","Machinery","Management Consulting","Maritime","Market Research","Marketing and Advertising","Mechanical or Industrial Engineering","Media Production","Medical Devices","Medical Practice","Mental Health Care","Military","Mining & Metals","Motion Pictures and Film","Museums and Institutions","Music","Nanotechnology","Newspapers","Non-Profit Organization Management","Oil & Energy","Online Media","Outsourcing/Offshoring","Package/Freight Delivery","Packaging and Containers","Paper & Forest Products","Performing Arts","Pharmaceuticals","Philanthropy","Photography","Plastics","Political Organization","Primary/Secondary Education","Printing","Professional Training & Coaching","Program Development","Public Policy","Public Relations and Communications","Public Safety","Publishing","Railroad Manufacture","Ranching","Real Estate","Recreational Facilities and Services","Religious Institutions","Renewables & Environment","Research","Restaurants","Retail","Security and Investigations","Semiconductors","Shipbuilding","Sporting Goods","Sports","Staffing and Recruiting","Supermarkets","Telecommunications","Textiles","Think Tanks","Tobacco","Translation and Localization","Transportation/Trucking/Railroad","Utilities","Venture Capital & Private Equity","Veterinary","Warehousing","Wholesale","Wine and Spirits","Wireless","Writing and Editing"]},"maxItems":5,"description":"Industry categories to include in results. Valid values are the fixed industry list below.","example":["Information Technology and Services"]},"companyKeyword":{"type":"array","items":{"type":"string"},"maxItems":10,"description":"Free-text keywords used to match company profile text (name, description, and related indexed company data).","example":["sales intelligence","B2B SaaS"]},"companySize":{"type":"array","items":{"type":"string","enum":["0 - 1 (Self-employed)","2 - 10","11 - 50","51 - 200","201 - 500","501 - 1,000","1,001 - 5,000","5,001 - 10,000","10,001+"]},"maxItems":10,"description":"Employee size bands to match against company headcount ranges.","example":["51 - 200","201 - 500"]},"companyRevenue":{"type":"array","items":{"type":"string","enum":["$0 - $100K","$100K - $1M","$1M - $5M","$5M - $20M","$20M - $50M","$50M - $100M","$100M - $500M","$500M - $1B","$1B+"]},"maxItems":10,"description":"Revenue range bands to match estimated company revenue.","example":["$20M - $50M"]},"technologies":{"type":"array","items":{"type":"string","enum":["Salesforce","HubSpot","Marketo","Outreach","Apollo"]},"maxItems":10,"description":"Technologies used by the company. Sample enum values for documentation only (not exhaustive; actual values come from API/typeahead).","example":["Salesforce","HubSpot"]},"technologiesIsOr":{"type":"boolean","description":"If true, matches companies using any of the specified technologies (OR). If false, matches only companies using all specified technologies (AND).","example":true},"companyType":{"type":"string","description":"Filter by company type. `Public` = companies with a known stock ticker/exchange, `Private` = all others.\n","enum":["Public","Private"],"default":null,"nullable":true,"example":"Public"},"foundedOn":{"type":"array","items":{"type":"string","enum":["Less than 1 Year","Last 1-3 Years","Last 4-10 Years","10+ Years"]},"description":"Company age buckets based on founding date.","maxItems":4,"example":["Less than 1 Year","Last 1-3 Years"]},"newsTypes":{"type":"array","items":{"type":"string","enum":["Acquisition","Corporate Challenges","Cost Cutting","Expansion","Investment","Leadership","Partnership","Recognition"]},"maxItems":8,"description":"Filter companies by news/event classification type.","example":["Acquisition","Expansion"]},"newsTypeDates":{"type":"array","items":{"type":"string","enum":["60","90","180","365"]},"maxItems":1,"description":"Limit news/event results to a rolling day window (60, 90, 180, or 365 days). Only the first value is applied.","example":["60"]},"latestFundingDates":{"type":"array","items":{"type":"string","enum":["90","180","365","1095"]},"description":"Filter companies based on the date of their latest funding round (90, 180, 365 days or 3 years).","example":["90"],"maxItems":1},"latestFundingClassifications":{"type":"array","items":{"type":"string","enum":["Angel","Pre-Seed","Seed","Series A","Series B","Series C","Series D","Series E","Series F","Series G","Series H","Series I","Series J","Other"]},"description":"Filter companies based on the classifications of their latest funding round.","example":["Series A","Seed"],"maxItems":14},"latestFundingTotals":{"type":"array","items":{"type":"string","enum":["$0 - $100K","$100K - $1M","$1M - $5M","$5M - $20M","$20M - $50M","$50M - $100M","$100M - $500M","$500M - $1B","$1B+"]},"description":"Filter companies based on the total funding amount they have raised.","example":["$0 - $100K","$100K - $1M"],"maxItems":9}}}}}},"responses":{"200":{"description":"Company Search Results","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"A list of companies","type":"array","items":{"type":"object","properties":{"searchResultId":{"type":"string","description":"Stable identifier for this search result item, used by enrichment/research endpoints.","example":"cmp_sr_01J8YQ4FXZQ6N5G2T3A7BC9D1E"},"name":{"type":"string","description":"Canonical company name.","example":"Seamless.AI"},"street1":{"type":"string","description":"Primary street line for the company location.","example":"800 W El Camino Real"},"street2":{"type":"string","description":"Secondary street line for the company location.","example":"Suite 180"},"street3":{"type":"string","description":"Additional street/location line when provided.","example":"Building B"},"city":{"type":"string","description":"City of the company location.","example":"Mountain View"},"state":{"type":"string","description":"State or region of the company location.","example":"CA"},"postCode":{"type":"string","description":"Postal/zip code of the company location.","example":"94040"},"country":{"type":"string","description":"Country of the company location.","example":"United States"},"domain":{"type":"string","description":"Primary website domain for the company.","example":"seamless.ai"},"description":{"type":"string","description":"Short company profile/summary text.","example":"Seamless.AI is a sales intelligence platform for finding and engaging prospects."},"liUrl":{"type":"string","description":"Public LinkedIn company profile URL when available.","example":"https://www.linkedin.com/company/seamless-ai/"},"sicCode":{"type":"string","description":"Standard Industrial Classification (SIC) code associated with the company.","example":"7372"},"industries":{"type":"array","description":"Industry categories associated with the company.","example":["Information Technology and Services","Computer Software"],"items":{"type":"string"}},"revenueRange":{"type":"string","description":"Revenue band bucket assigned to the company.","example":"$20M - $50M"},"annualRevenue":{"type":"string","description":"Estimated annual revenue value, when available.","example":"35000000"},"staffCountRange":{"type":"string","description":"Employee headcount band for the company.","example":"51 - 200"},"employeeCount":{"type":"string","description":"Estimated employee count.","example":"125"},"numContacts":{"type":"string","description":"Number of contacts currently associated with this company in indexed results.","example":"487"},"technologies":{"type":"array","description":"Technologies detected for the company.","example":["Salesforce","HubSpot","Marketo"],"items":{"type":"string"}},"linkedInId":{"type":"string","description":"LinkedIn company ID when available.","example":"1234567"},"companyLIURL":{"type":"string","description":"Alternate LinkedIn company URL source returned from social metadata when available.","example":"https://www.linkedin.com/company/seamless-ai/"},"foundedOn":{"type":"string","format":"date","description":"Company founding date.","example":"2015-01-01"},"newsAndEvents":{"type":"array","description":"Recent news articles related to the company.","items":{"type":"object","properties":{"title":{"description":"The headline of the news article.","type":"string"},"url":{"description":"The URL to the full news article.","type":"string"},"date":{"description":"The date the news article was published.","type":"string","format":"date-time"},"type":{"description":"The type of news article (e.g., \"Acquisition\").","type":"string"}}}},"fundingTotal":{"type":"string","description":"Most recent total funding amount for the company.","example":"135000000"},"latestFundingDate":{"type":"string","format":"date","description":"The date of the most recent funding round for the company.","example":"2018-01-01"},"latestFundingClassifications":{"type":"array","description":"The classifications of the most recent funding round for the company.","example":["Series D"],"items":{"type":"string"}},"companyType":{"type":"string","nullable":true,"description":"Company type — \"Public\" or \"Private\" when determined.","enum":["Public","Private"],"example":"Public"},"stockTicker":{"type":"string","nullable":true,"description":"Stock ticker symbol of the company, if publicly traded.","example":"AAPL"}}}},"supplementalData":{"type":"object","description":"Pagination metadata for the current search result set.","properties":{"isMore":{"description":"Indicates whether additional pages of results are available beyond the current page.","type":"boolean","example":true},"total":{"description":"The total number of contacts matching the search criteria.","type":"integer","example":150},"perPage":{"description":"The number of results returned per page for this search request.","type":"integer","example":5},"nextToken":{"description":"An opaque pagination token. Pass this value in the `nextToken` field of your next request body to retrieve the next page of results. Null or absent when no more pages are available.","type":"string","nullable":true,"example":"eyJwYWdlIjoyLCJzZWFyY2hJZCI6ImFiYzEyMyJ9"}}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"message":{"description":"A human readable error message","type":"string"}}}}}},"422":{"description":"Insufficient credits or missing license","content":{"application/json":{"schema":{"description":"Insufficient credits or missing license","type":"object","properties":{"msg":{"type":"string"},"code":{"type":"string"},"data":{"type":"object","properties":{"productCategory":{"type":"string"},"additionalCreditsNeeded":{"type":"integer"}}}}}}}},"500":{"description":"Unexpected error","content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"message":{"description":"A human readable error message","type":"string"}}}}}}}}},"/search/contacts":{"post":{"summary":"Search contacts","operationId":"searchContacts","tags":["Contact Search"],"security":[{"OAuth2":[]},{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","example":{"nextToken":null,"limit":50,"contactCountry":["United States"],"contactZipCode":["10001"],"locationType":"bothOR","department":["IT","Engineering"],"industry":["Software Development"],"jobTitle":["Chief Technology Officer"],"seniority":["C-Level","VP"],"companyFoundedOn":["Last 4-10 Years"],"companySize":["201 - 500"],"companyRevenue":["$5M - $20M"],"technologies":["Salesforce"],"technologiesIsOr":true,"lastModifiedAfter":"2025-09-01T11:00:00Z"},"properties":{"nextToken":{"description":"An opaque cursor token for retrieving the next page of results. Returned as `supplementalData.nextToken` in the previous response.","type":"string","default":null,"nullable":true},"limit":{"description":"The maximum number of contacts to return per page. Must be a positive integer.","type":"integer","default":50,"example":50},"companyName":{"description":"Filter contacts by their company name. Accepts up to 100 company names.","type":"array","items":{"type":"string"},"maxItems":100,"example":["Seamless.AI"]},"companyNameSearchType":{"description":"Controls how `companyName` values are matched. `default` matches the provided name using standard relevance matching. `related` broadens the search to include known subsidiaries, parent companies, and brand aliases. `exact` restricts results to only companies whose name is an exact match.\n","type":"string","enum":["default","related","exact"],"default":"default","example":"default"},"companyDomain":{"description":"Filter contacts by their company's website domain. Accepts up to 100 domains.","type":"array","items":{"type":"string"},"maxItems":100,"example":["seamless.ai"]},"contactState":{"description":"Filter by the contact's or company's state or region. Behavior depends on the `locationType` parameter. Sample enum values shown for documentation only; actual values are not exhaustive and come from the API or typeahead.","type":"array","items":{"type":"string","enum":["NY","Texas","Florida","VA","CA"]},"maxItems":10,"example":["California","New York"]},"contactCountry":{"description":"Filter by the contact's or company's country. Behavior depends on the `locationType` parameter. Sample enum values shown for documentation only; actual values are not exhaustive and come from the API or typeahead.","type":"array","items":{"type":"string","enum":["United States","Canada","United Kingdom","Germany","Australia"]},"maxItems":10,"example":["United States"]},"contactZipCode":{"description":"Filter by the contact's or company's zip/postal code. Behavior depends on the `locationType` parameter. Sample enum values shown for documentation only; actual values are not exhaustive and come from the API or typeahead.","type":"array","items":{"type":"string","enum":["10001","30301","33101","60601","94105"]},"maxItems":10,"example":["10001"]},"locationType":{"description":"Determines how location filters (`contactState`, `contactCountry`, `contactZipCode`) are applied. `contact` matches the contact's personal location only. `company` matches the company's headquarters location only. `bothOR` matches if either the contact or the company location matches (default). `bothAND` matches only when both the contact and the company location match.\n","type":"string","enum":["bothOR","bothAND","company","contact"],"default":"bothOR","example":"bothOR"},"department":{"description":"Filter contacts by organizational department. Up to 5 departments can be specified.","type":"array","items":{"type":"string","enum":["Sales","Marketing","Engineering","Human Resources","Finance","IT","Operations","Support","Legal","Project Management","Other"]},"maxItems":5,"example":["IT","Engineering"]},"industry":{"description":"Filter contacts by their company's industry classification. Up to 5 industries can be specified. Values are organized into parent categories (e.g., \"Software & Information Technology\") and specific sub-industries (e.g., \"Computer Software\").","type":"array","items":{"type":"string","enum":["Aerospace & Defense","Airlines & Aviation","Aviation & Aerospace","Defense & Space","Military","Agriculture","Farming","Horticulture","Ranching","Tobacco","Apparel & Fashion","Textiles","Automotive","Chemicals & Materials","Chemicals","Plastics","Consumer Goods & Retail","Consumer Goods","Luxury Goods & Jewelry","Retail","Sporting Goods","Education & Training","E-Learning","Education Management","Higher Education","Libraries","Primary/Secondary Education","Electronics & Hardware","Computer Hardware","Consumer Electronics","Electrical & Electronic Manufacturing","Semiconductors","Energy & Utilities","Oil & Energy","Utilities","Entertainment","Animation","Arts & Crafts","Computer Games","Fine Art","Gambling & Casinos","Mobile Games","Motion Pictures & Film","Music","Performing Arts","Photography","Recreational Facilities & Services","Sports","Environmental","Environmental Services","Renewables & Environment","Finance & Banking","Banking","Capital Markets","Financial Services","Investment Banking","Investment Management","Venture Capital & Private Equity","Food & Beverage","Dairy","Fishery","Food & Beverages","Food Production","Restaurants","Supermarkets","Wine & Spirits","Government & Public Policy","Executive Office","Government Administration","Government Relations","Judiciary","Law Enforcement","Legislative Office","Political Organization","Public Policy","Public Safety","Health & Wellness","Alternative Medicine","Health, Wellness and Fitness","Hospital & Health Care","Medical Practice","Mental Health Care","Veterinary","Hospitality & Tourism","Events Services","Hospitality","Leisure, Travel & Tourism","Museums & Institutions","Household, Personal, & Beauty","Consumer Services","Cosmetics","Furniture","Individual & Family Services","Insurance","Internet & E-Commerce","Internet","Manufacturing & Engineering","Civil Engineering","Industrial Automation","Machinery","Mechanical or Industrial Engineering","Railroad Manufacture","Shipbuilding","Marketing & Media","Broadcast Media","Graphic Design","Marketing & Advertising","Media Production","Newspapers","Online Media","Printing","Public Relations & Communications","Publishing","Writing & Editing","Metals, Mining & Materials","Building Materials","Glass, Ceramics & Concrete","Mining & Metals","Paper & Forest Products","Non-Profit","Fund-Raising","Non-Profit Organization Management","Philanthropy","Religious Institutions","Pharmaceuticals & Medical Devices","Biotechnology","Medical Devices","Nanotechnology","Pharmaceuticals","Professional Services & Consulting","Accounting","Alternative Dispute Resolution","Civic & Social Organization","Design","Human Resources","International Affairs","International Trade & Development","Law Practice","Legal Services","Management Consulting","Market Research","Outsourcing/Offshoring","Professional Training & Coaching","Program Development","Research","Security & Investigations","Staffing & Recruiting","Think Tanks","Real Estate & Construction","Architecture & Planning","Commercial Real Estate","Construction","Facilities Services","Real Estate","Software & Information Technology","Computer & Network Security","Computer Software","Information Services","Information Technology & Services","Software Development","Telecommunications & Networking","Computer Networking","Telecommunications","Wireless","Transportation & Logistics","Logistics & Supply Chain","Maritime","Package/Freight Delivery","Packaging & Containers","Translation & Localization","Transportation/Trucking/Railroad","Wholesale & Distribution","Business Supplies & Equipment","Import & Export","Warehousing","Wholesale"]},"maxItems":5,"example":["Software Development"]},"fullName":{"description":"Filter contacts by full name. Useful for finding specific individuals. Up to 10 names can be specified.","type":"array","items":{"type":"string"},"maxItems":10,"example":["John Smith"]},"contactKeyword":{"description":"Filter contacts by keyword matches against their profile (e.g., skills, bio, specialties). Up to 10 keywords can be specified.","type":"array","items":{"type":"string"},"maxItems":10,"example":["sales enablement"]},"jobTitle":{"description":"Filter contacts by job title. Matches are based on relevance to the provided title strings. Up to 10 titles can be specified.","type":"array","items":{"type":"string"},"maxItems":10,"example":["Chief Technology Officer"]},"seniority":{"description":"Filter contacts by seniority level within their organization. Up to 5 values can be specified.","type":"array","items":{"type":"string","enum":["C-Level","VP","Director","Manager","Senior","Entry Level","Mid-Level","Other"]},"maxItems":5,"example":["C-Level","VP"]},"companyFoundedOn":{"description":"Filter contacts by how recently their company was founded. Up to 4 ranges can be specified.","type":"array","items":{"type":"string","enum":["Less than 1 Year","Last 1-3 Years","Last 4-10 Years","10+ Years"]},"maxItems":4,"example":["Less than 1 Year","Last 1-3 Years"]},"companySize":{"description":"Filter contacts by their company's employee count range. Up to 10 ranges can be specified.","type":"array","items":{"type":"string","enum":["0 - 1 (Self-employed)","2 - 10","11 - 50","51 - 200","201 - 500","501 - 1,000","1,001 - 5,000","5,001 - 10,000","10,001+"]},"maxItems":10,"example":["201 - 500"]},"companyRevenue":{"description":"Filter contacts by their company's estimated annual revenue range. Up to 10 ranges can be specified.","type":"array","items":{"type":"string","enum":["$0 - $100K","$100K - $1M","$1M - $5M","$5M - $20M","$20M - $50M","$50M - $100M","$100M - $500M","$500M - $1B","$1B+"]},"maxItems":10,"example":["$5M - $20M"]},"technologies":{"description":"Filter contacts by technologies used at their company. Up to 10 technologies can be specified. Sample enum values shown for documentation only; actual values are not exhaustive and come from the API or typeahead.","type":"array","items":{"type":"string","enum":["Salesforce","HubSpot","Marketo","Outreach","Apollo"]},"maxItems":10,"example":["Salesforce"]},"technologiesIsOr":{"description":"Controls how multiple `technologies` values are combined. When `true` (default), returns contacts whose company uses any of the specified technologies (OR logic). When `false`, returns only contacts whose company uses all of the specified technologies (AND logic).","type":"boolean","default":true,"example":true},"jobChanges":{"type":"object","description":"Filter contacts by job change activity.\n","nullable":true,"default":null,"properties":{"changeType":{"type":"string","description":"Filters the job change by it's classification. Job Change classifications are  made by `changeType` and can differ based on optionally provided `dayRange`. `New Hire` = contacts who joined a new company. `New Promotion` = contacts who received a new title at the same company. `New Hire or New Promotion` = either.\n","enum":["New Hire","New Promotion","New Hire or New Promotion"],"nullable":true,"default":null,"example":"New Hire"},"dayRange":{"type":"string","description":"Rolling lookback window for the job change.","enum":["Last 60 Days","Last 90 Days","Last 180 Days","Last 365 Days"],"nullable":true,"default":null,"example":"Last 90 Days"}}},"pastCompany":{"type":"object","nullable":true,"description":"Filter contacts by past employer. When provided, `names` must be non-empty.","default":null,"required":["names"],"properties":{"names":{"type":"array","items":{"type":"string"},"minItems":1,"maxItems":100,"description":"One or more company names to match against the contact's employment history.","example":["Acme Inc"]},"onlyMostRecentDeparture":{"type":"boolean","default":false,"description":"When `true`, only matches contacts whose most recent departure was from one of the specified companies. When `false` (default), matches any contact who has ever worked at any of the specified companies (searches full job history).\n"}}},"companyType":{"type":"string","description":"Filter by company type. `Public` = companies with a known stock ticker/exchange, `Private` = all others.\n","enum":["Public","Private"],"default":null,"nullable":true,"example":"Public"},"lastModifiedAfter":{"description":"Return only contacts whose core data (name, title, company, phone, or email) was last updated on or after this date. Use ISO 8601 format.","type":"string","format":"date-time","example":"2025-09-01T11:00:00Z"},"lastModifiedBefore":{"description":"Return only contacts whose core data (name, title, company, phone, or email) was last updated on or before this date. Use ISO 8601 format. Combine with `lastModifiedAfter` to define a date range.","type":"string","format":"date-time","example":"2025-09-07T11:00:00Z"},"newsTypes":{"description":"Filter contacts by recent news or events at their company. Returns contacts whose company has been associated with the specified event types. Up to 8 types can be specified.","type":"array","items":{"type":"string","enum":["Acquisition","Corporate Challenges","Cost Cutting","Expansion","Investment","Leadership","Partnership","Recognition"]},"maxItems":8,"example":["Acquisition","Expansion"]},"newsTypeDates":{"description":"Restrict `newsTypes` results to a rolling window of recent days. Accepts a single value representing the number of days to look back. Only the first value is used if multiple are provided.","type":"array","items":{"type":"string","enum":["60","90","180","365"]},"maxItems":1,"example":["60"]},"companyLatestFundingDates":{"type":"array","items":{"type":"string","enum":["90","180","365","1095"]},"description":"Filter companies based on the date of their latest funding round (90, 180, 365 days or 3 years).","example":["90"],"maxItems":1},"companyLatestFundingClassifications":{"type":"array","items":{"type":"string","enum":["Angel","Pre-Seed","Seed","Series A","Series B","Series C","Series D","Series E","Series F","Series G","Series H","Series I","Series J","Other"]},"description":"Filter companies based on the classifications of their latest funding round.","example":["Series A","Seed"],"maxItems":14},"companyLatestFundingTotals":{"type":"array","items":{"type":"string","enum":["$0 - $100K","$100K - $1M","$1M - $5M","$5M - $20M","$20M - $50M","$50M - $100M","$100M - $500M","$500M - $1B","$1B+"]},"description":"Filter companies based on the total funding amount they have raised.","example":["$0 - $100K","$100K - $1M"],"maxItems":9}}}}}},"responses":{"200":{"description":"Contact Search Results","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"A list of contacts","type":"array","items":{"type":"object","properties":{"searchResultId":{"description":"Unique identifier for this search result. Use this ID when submitting contacts for research via the research endpoint.","type":"string","example":"708dbb34-3849-3c06-abd1-238b9a0295b3"},"name":{"description":"The contact's full name.","type":"string","example":"Taylor Gonsalves"},"company":{"description":"The name of the company where the contact is currently employed.","type":"string","example":"Seamless"},"title":{"description":"The contact's current job title.","type":"string","example":"Customer Success Manager, Mid Market Accounts"},"department":{"description":"The organizational department the contact belongs to.","type":"string","example":"Sales"},"seniority":{"description":"The contact's seniority level within their organization.","type":"string","example":"Manager"},"domain":{"description":"The primary website domain of the contact's company.","type":"string","example":"seamless.ai"},"city":{"description":"The city where the contact is located.","type":"string","example":"Jacksonville"},"state":{"description":"The state or region where the contact is located.","type":"string","example":"Florida"},"country":{"description":"The country where the contact is located.","type":"string","example":"United States"},"companyCity":{"description":"The city where the contact's company headquarters is located.","type":"string","example":"Columbus"},"companyState":{"description":"The state or region where the contact's company headquarters is located.","type":"string","example":"Ohio"},"companyCountry":{"description":"The country where the contact's company headquarters is located.","type":"string","example":"United States"},"liUrl":{"description":"The contact's LinkedIn profile URL.","type":"string","format":"uri","example":"https://www.linkedin.com/in/taylor-gonsalves-b9b18b196"},"companyLIProfileUrl":{"description":"The LinkedIn company page URL for the contact's employer.","type":"string","format":"uri","example":"https://linkedin.com/company/seamlessai"},"sicCode":{"description":"The Standard Industrial Classification (SIC) code for the contact's company.","type":"string","example":"7389"},"industries":{"description":"A list of industries associated with the contact's company.","type":"array","items":{"type":"string"},"example":["Software Development","Computer Software"]},"startedAtCurrentCompany":{"description":"The date the contact started working at their current company (ISO 8601 date format).","type":"string","format":"date","example":"2024-04-01"},"titleStartedAt":{"description":"The date the contact started their current job title (ISO 8601 date format).","type":"string","format":"date","example":"2024-04-01"},"timeAtRole":{"description":"Human-readable tenure in the contact's current role, derived from `titleStartedAt` (e.g. \"1 Yr 2 Mo\", \"3 Mo\").","type":"string","example":"1 Yr 2 Mo"},"timeAtCompany":{"description":"Human-readable tenure at the contact's current company, derived from `startedAtCurrentCompany` (e.g. \"1 Yr 2 Mo\", \"3 Mo\").","type":"string","example":"1 Yr 2 Mo"},"companyFoundedOn":{"description":"The date the contact's company was founded (ISO 8601 date format).","type":"string","format":"date","example":"2018-01-01"},"lastModifiedAt":{"description":"Timestamp of the last time the contact's core data (name, title, company, phone, or email) was updated.","type":"string","format":"date-time","example":"2026-03-03 12:34:07"},"companyRevenue":{"description":"The estimated annual revenue range of the contact's company. Returned when the contact has been enriched.","type":"string","example":"$5M - $20M"},"employeeSizeRange":{"description":"The estimated employee count range of the contact's company.","type":"string","example":"201 - 500"},"timezone":{"description":"The contact's local timezone.","type":"string","example":"Eastern (EST)"},"firstName":{"description":"The contact's first name. Returned when the contact has been enriched.","type":"string","example":"Taylor"},"middleName":{"description":"The contact's middle name, if available. Returned when the contact has been enriched.","type":"string","example":"James"},"lastName":{"description":"The contact's last name. Returned when the contact has been enriched.","type":"string","example":"Gonsalves"},"companyDomainAlias":{"description":"An alternative domain alias for the contact's company, if one exists. Returned when the contact has been enriched.","type":"string","example":"seamless.com"},"contactLIRecruiterUrl":{"description":"The contact's LinkedIn Recruiter profile URL. Returned when the contact has been enriched.","type":"string","format":"uri","example":"https://www.linkedin.com/talent/search/profile/AEMAAC3xxOcBgZ5bzU1FB2g9fsiZ04QNuvnv51k"},"contactLISalesNavUrl":{"description":"The contact's LinkedIn Sales Navigator profile URL. Returned when the contact has been enriched.","type":"string","format":"uri","example":"https://www.linkedin.com/sales/lead/ACoAAC3xxOcB-G4e6iCxOPRDtiJ5RKGoeWMqfFI,NAME_SEARCH"},"contactXUrl":{"description":"The contact's X (Twitter) profile URL. Returned when the contact has been enriched.","type":"string","format":"uri","example":"https://twitter.com/taylorgonsalves"},"companyGRURL":{"description":"A Google search URL for the contact's name combined with their company name. Returned when the contact has been enriched.","type":"string","format":"uri","example":"https://www.google.com/search?q=Taylor%20Gonsalves%20Seamless"},"contactCurrentCompanyYears":{"description":"The number of years the contact has been at their current company. Returned when the contact has been enriched.","type":"string","example":"2"},"contactFBUrl":{"description":"A Facebook people-search URL for the contact's name. Returned when the contact has been enriched.","type":"string","format":"uri","example":"https://www.facebook.com/public/Taylor+Gonsalves"},"contactGURL":{"description":"A Google search URL for the contact's name. Returned when the contact has been enriched.","type":"string","format":"uri","example":"https://www.google.com/search?q=Taylor+Gonsalves"},"companyXUrl":{"description":"An X (Twitter) search URL for the contact's company name. Returned when the contact has been enriched.","type":"string","format":"uri","example":"https://twitter.com/search?q=Seamless"},"companyFBUrl":{"description":"A Facebook search URL for the contact's company name. Returned when the contact has been enriched.","type":"string","format":"uri","example":"https://www.facebook.com/search/top/?q=Seamless"},"newsAndEvents":{"type":"array","description":"Recent news articles related to the company.","items":{"type":"object","properties":{"title":{"description":"The headline of the news article.","type":"string"},"url":{"description":"The URL to the full news article.","type":"string"},"date":{"description":"The date the news article was published.","type":"string","format":"date-time"},"type":{"description":"The type of news article (e.g., \"Acquisition\").","type":"string"}}}},"companyFundingTotal":{"type":"string","description":"Most recent total funding amount for the company.","example":"135000000"},"companyLatestFundingDate":{"type":"string","description":"The date of the most recent funding round for the company.","format":"date","example":"2018-01-01"},"companyLatestFundingClassifications":{"type":"array","description":"The classifications of the latest funding round for the company (e.g., \"Series A\", \"Pre-Seed\", etc.).","example":["Series D"],"items":{"type":"string"}},"jobChangeAlert":{"type":"string","description":"Type of job change detected given provided or default job change date range. When detected; 'New Hire' = joined a new company, 'New Promotion' = new role at the same company.\n","enum":["New Hire","New Promotion"],"nullable":true},"formerCompany":{"type":"string","nullable":true,"description":"Name of the contact's most recent previous employer."},"formerTitle":{"type":"string","nullable":true,"description":"Job title at the contact's most recent previous employer."},"formerStartedAt":{"type":"string","format":"date","nullable":true,"description":"Date the contact started at their former company (YYYY-MM-DD)."},"formerEndedAt":{"type":"string","format":"date","nullable":true,"description":"Date the contact left their former company (YYYY-MM-DD)."},"companyType":{"type":"string","nullable":true,"description":"Company type — \"Public\" or \"Private\" when determined.","enum":["Public","Private"],"example":"Public"},"stockTicker":{"type":"string","nullable":true,"description":"Stock ticker symbol of the company, if publicly traded.","example":"AAPL"}}}},"supplementalData":{"type":"object","description":"Pagination metadata for the current search result set.","properties":{"isMore":{"description":"Indicates whether additional pages of results are available beyond the current page.","type":"boolean","example":true},"total":{"description":"The total number of contacts matching the search criteria.","type":"integer","example":150},"perPage":{"description":"The number of results returned per page for this search request.","type":"integer","example":5},"nextToken":{"description":"An opaque pagination token. Pass this value in the `nextToken` field of your next request body to retrieve the next page of results. Null or absent when no more pages are available.","type":"string","nullable":true,"example":"eyJwYWdlIjoyLCJzZWFyY2hJZCI6ImFiYzEyMyJ9"}}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"message":{"description":"A human readable error message","type":"string"}}}}}},"422":{"description":"Insufficient credits or missing license","content":{"application/json":{"schema":{"description":"Insufficient credits or missing license","type":"object","properties":{"msg":{"type":"string"},"code":{"type":"string"},"data":{"type":"object","properties":{"productCategory":{"type":"string"},"additionalCreditsNeeded":{"type":"integer"}}}}}}}},"500":{"description":"Unexpected error","content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"message":{"description":"A human readable error message","type":"string"}}}}}}}}},"/companies/research":{"post":{"summary":"Research companies","description":"Research companies by search result IDs from `/search/companies` and/or direct company identifiers (`domain`, `companyName`).","operationId":"researchCompanies","tags":["Company Research"],"security":[{"OAuth2":[]},{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"examples":{"requestPayload":{"summary":"Research companies request payload","value":{"searchResultIds":["cmp_sr_01J8YQ4FXZQ6N5G2T3A7BC9D1E","cmp_sr_01J8YQ5F95Y0M4R7J8N1P2Q3R4"],"companies":[{"domain":"seamless.ai","companyName":"Seamless.AI"},{"domain":"openai.com"}]}},"searchResultIdsOnly":{"summary":"Research companies from company search results only","value":{"searchResultIds":["cmp_sr_01J8YQ4FXZQ6N5G2T3A7BC9D1E"]}},"companiesOnly":{"summary":"Research companies directly by domain/name only","value":{"companies":[{"domain":"seamless.ai","companyName":"Seamless.AI"}]}}},"schema":{"type":"object","properties":{"searchResultIds":{"description":"Company search result IDs returned from `/search/companies` that you want to enrich.","type":"array","maxItems":100,"example":["cmp_sr_01J8YQ4FXZQ6N5G2T3A7BC9D1E"],"items":{"type":"string"}},"companies":{"description":"Companies to enrich directly without running search first.\nEach item must include at least one identifier:\n- `domain`\n- `companyName`\n","type":"array","maxItems":100,"example":[{"domain":"seamless.ai","companyName":"Seamless.AI"}],"items":{"type":"object","properties":{"domain":{"type":"string","description":"Company website domain used to identify the company.","example":"seamless.ai"},"companyName":{"type":"string","description":"Company legal or common name used to identify the company.","example":"Seamless.AI"}}}},"skipDeduplicationCheck":{"type":"boolean","description":"When true, research will not check for duplicate records that you already researched recently, and perform a research (which can result in credit usage)","default":false}}}}}},"responses":{"202":{"description":"The request IDs for research","content":{"application/json":{"examples":{"accepted":{"summary":"Accepted research request","description":"Response returned immediately after request is queued for async research.","value":{"success":true,"requestIds":["8T7LmzqW2Q6hA19","Ka2nQ9L3pR4vD1F"]}}},"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates whether the request was accepted successfully.","example":true},"requestIds":{"description":"Request identifiers for each submitted company research job.","type":"array","example":["8T7LmzqW2Q6hA19","Ka2nQ9L3pR4vD1F"],"items":{"type":"string"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"message":{"description":"A human readable error message","type":"string"}}}}}},"422":{"description":"Insufficient credits or missing license","content":{"application/json":{"schema":{"description":"Insufficient credits or missing license","type":"object","properties":{"msg":{"type":"string"},"code":{"type":"string"},"data":{"type":"object","properties":{"productCategory":{"type":"string"},"additionalCreditsNeeded":{"type":"integer"}}}}}}}},"500":{"description":"Unexpected error","content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"message":{"description":"A human readable error message","type":"string"}}}}}}}}},"/companies/research/poll":{"get":{"summary":"Poll Company Research","description":"Get the results/status of a company research","operationId":"pollCompanyResearchResults","tags":["Company Research"],"security":[{"OAuth2":[]},{"ApiKeyAuth":[]}],"parameters":[{"name":"requestIds","required":true,"in":"query","description":"One or more research request IDs returned from `/companies/research`.","style":"form","explode":false,"example":"1,2,3,4,5","schema":{"type":"array","minItems":1,"maxItems":100,"items":{"type":"string"}}}],"responses":{"200":{"description":"Poll Results","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates whether the poll request executed successfully.","example":true},"data":{"type":"array","description":"Poll status entries for each requested research ID.","items":{"type":"object","properties":{"requestId":{"type":"string","description":"Research request ID that was polled.","example":"8T7LmzqW2Q6hA19"},"status":{"type":"string","description":"Current state of the research request.","enum":["missing","researching","done","error"],"example":"done"},"company":{"description":"Enriched company payload. Present when `status` is `done`.","allOf":[{"type":"object","properties":{"advertisingIntelligenceUrl":{"type":"string","description":"URL to advertising intelligence data for the company.","example":"https://intel.example.com/company/12938475/advertising"},"alexaScoreUrl":{"type":"string","description":"URL to Alexa score and rank details.","example":"https://intel.example.com/company/12938475/alexa"},"annualRevenue":{"type":"string","description":"Estimated annual revenue value.","example":"1000000001"},"apiResearchId":{"type":"string","description":"The API research identifier for companies created through API research","example":"research-123"},"phones":{"type":"string","description":"Comma-separated company phone numbers.","example":"+1-650-555-0100,+1-650-555-0101"},"phonesAiScores":{"type":"string","description":"Comma-separated AI confidence scores for each phone number in `phones`.","example":"98,86"},"createdAt":{"type":"string","description":"Timestamp when this company record was created.","example":"2024-04-21T14:30:00.000Z"},"description":{"type":"string","description":"Company profile description text.","example":"Seamless.AI is a sales intelligence platform."},"domain":{"type":"string","description":"Primary website domain of the company.","example":"seamless.ai"},"employeeReviewsUrl":{"type":"string","description":"URL to employee reviews intelligence.","example":"https://intel.example.com/company/12938475/employee-reviews"},"foundedOn":{"type":"string","description":"Company founding date, when available.","format":"date","example":"2015-01-01"},"googleFinanceUrl":{"type":"string","description":"URL to Google Finance data for the company.","example":"https://www.google.com/finance/quote/EXAMPLE:NASDAQ"},"googleResearchUrl":{"type":"string","description":"URL to Google research/profile results for the company.","example":"https://www.google.com/search?q=seamless.ai"},"industries":{"type":"string","description":"Comma-separated industry labels for the company.","example":"Information Technology and Services,Computer Software"},"intelUrl":{"type":"string","description":"URL to general company intelligence overview.","example":"https://intel.example.com/company/12938475/overview"},"jobPostingsUrl":{"type":"string","description":"URL to job posting intelligence for the company.","example":"https://intel.example.com/company/12938475/jobs"},"linkedInProfileUrl":{"type":"string","description":"LinkedIn company profile URL.","example":"https://www.linkedin.com/company/seamless-ai/"},"linkedInId":{"type":"string","description":"LinkedIn company identifier.","example":"1234567"},"localSportsTeamsUrl":{"type":"string","description":"URL to local sports context for the company location.","example":"https://intel.example.com/company/12938475/local-sports"},"localWeatherUrl":{"type":"string","description":"URL to local weather context for the company location.","example":"https://intel.example.com/company/12938475/local-weather"},"location":{"type":"object","properties":{"street1":{"type":"string","description":"Primary street line of the company location.","example":"800 W El Camino Real"},"city":{"type":"string","description":"City of the company location.","example":"Mountain View"},"state":{"type":"string","description":"State or region of the company location.","example":"CA"},"postCode":{"type":"string","description":"Postal or zip code of the company location.","example":"94040"},"country":{"type":"string","description":"Country name of the company location.","example":"United States"},"countryAbbr":{"type":"string","description":"Abbreviated country code used in location metadata.","example":"US"},"countryAlpha2":{"type":"string","description":"ISO 3166-1 alpha-2 country code.","example":"US"},"countryAlpha3":{"type":"string","description":"ISO 3166-1 alpha-3 country code.","example":"USA"},"fullString":{"type":"string","description":"Full formatted location string.","example":"800 W El Camino Real, Mountain View, CA 94040, United States"}}},"name":{"type":"string","description":"Canonical company name.","example":"Seamless.AI"},"newsUrl":{"type":"string","description":"URL to aggregated company news.","example":"https://intel.example.com/company/12938475/news"},"paidSearchIntelligenceUrl":{"type":"string","description":"URL to paid search intelligence details.","example":"https://intel.example.com/company/12938475/paid-search"},"paidSearchKeywordsIntelligenceUrl":{"type":"string","description":"URL to paid search keyword intelligence details.","example":"https://intel.example.com/company/12938475/paid-search-keywords"},"revenueRange":{"type":"string","description":"Revenue range bucket for the company.","example":"$1B+"},"searchMarketingIntelligenceUrl":{"type":"string","description":"URL to search marketing intelligence details.","example":"https://intel.example.com/company/12938475/search-marketing"},"secFilingsUrl":{"type":"string","description":"URL to SEC filings and regulatory disclosures.","example":"https://www.sec.gov/edgar/browse/?CIK=0000000"},"seoResearchUrl":{"type":"string","description":"URL to SEO research and metrics.","example":"https://intel.example.com/company/12938475/seo"},"sicCode":{"type":"string","description":"Standard Industrial Classification (SIC) code.","example":"4832"},"similarWebsitesUrl":{"type":"string","description":"URL to similar websites intelligence.","example":"https://intel.example.com/company/12938475/similar-sites"},"socialMediaMentionsUrl":{"type":"string","description":"URL to social media mentions analytics.","example":"https://intel.example.com/company/12938475/social-mentions"},"socialMediaPostsUrl":{"type":"string","description":"URL to social media posts analytics.","example":"https://intel.example.com/company/12938475/social-posts"},"socialPostsUrl":{"type":"string","description":"URL to general social posts aggregation.","example":"https://intel.example.com/company/12938475/posts"},"staffCount":{"type":"string","description":"Estimated staff count value.","example":"750"},"staffCountRange":{"type":"string","description":"Staff count range bucket.","example":"501 - 1,000"},"topTechnologies":{"type":"string","description":"Comma-separated list of top detected technologies.","example":"Adobe SiteCatalyst,Adobe Tag Manager,Akamai"},"updatedAt":{"type":"string","description":"Timestamp when this company record was last updated.","example":"2024-04-21T14:30:00.000Z"},"webTechnologiesUrl":{"type":"string","description":"URL to web technologies intelligence.","example":"https://intel.example.com/company/12938475/web-technologies"},"websiteAuditUrl":{"type":"string","description":"URL to website audit results.","example":"https://intel.example.com/company/12938475/website-audit"},"websiteAudit2Url":{"type":"string","description":"URL to secondary website audit data.","example":"https://intel.example.com/company/12938475/website-audit-2"},"websiteGraderUrl":{"type":"string","description":"URL to website grader report.","example":"https://intel.example.com/company/12938475/website-grader"},"whoisUrl":{"type":"string","description":"URL to WHOIS domain registration details.","example":"https://who.is/whois/seamless.ai"},"wikipediaUrl":{"type":"string","description":"URL to the company Wikipedia page, when available.","example":"https://en.wikipedia.org/wiki/Example_Company"},"yahooFinanceUrl":{"type":"string","description":"URL to Yahoo Finance profile/data.","example":"https://finance.yahoo.com/quote/EXAMPLE"},"newsAndEvents":{"type":"array","description":"Recent news articles related to the company.","items":{"type":"object","properties":{"title":{"description":"The headline of the news article.","type":"string"},"url":{"description":"The URL to the full news article.","type":"string"},"date":{"description":"The date the news article was published.","type":"string","format":"date-time"},"type":{"description":"The type of news article (e.g., \"Acquisition\").","type":"string"}}}},"fundingTotal":{"type":"string","description":"The latest total funding amount for the company.","example":"100000"},"latestFundingDate":{"type":"string","format":"date","description":"The date of the latest funding round for the company (formatted as \"YYYY-MM-DD\").","example":"2023-08-12"},"latestFundingClassifications":{"type":"array","description":"The classifications of the latest funding round for the company (e.g., \"Series A\", \"Pre-Seed\", etc.).","example":["Series D"],"items":{"type":"string"}},"companyType":{"type":"string","nullable":true,"description":"Company type — \"Public\" or \"Private\" when determined.","enum":["Public","Private"],"example":"Public"},"stockTicker":{"type":"string","nullable":true,"description":"Stock ticker symbol of the company, if publicly traded.","example":"AAPL"}}}]}}},"example":[{"requestId":"8T7LmzqW2Q6hA19","status":"researching"},{"requestId":"Ka2nQ9L3pR4vD1F","status":"done","company":{"companyId":"12938475","apiResearchId":"Ka2nQ9L3pR4vD1F","name":"Seamless.AI","domain":"seamless.ai"}}]}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"message":{"description":"A human readable error message","type":"string"}}}}}},"422":{"description":"Insufficient credits or missing license","content":{"application/json":{"schema":{"description":"Insufficient credits or missing license","type":"object","properties":{"msg":{"type":"string"},"code":{"type":"string"},"data":{"type":"object","properties":{"productCategory":{"type":"string"},"additionalCreditsNeeded":{"type":"integer"}}}}}}}},"500":{"description":"Unexpected error","content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"message":{"description":"A human readable error message","type":"string"}}}}}}}}},"/contacts/research":{"post":{"summary":"Research contacts","description":"Research contacts by searchResultId from contact search results or Contact enrich","operationId":"researchContacts","tags":["Contact Research"],"security":[{"OAuth2":[]},{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"examples":{"searchResultIds":{"summary":"Contact research via searchResultIds","value":{"searchResultIds":["searchResultId1","searchResultId2"]}},"contacts":{"summary":"Contact research via contacts","value":{"contacts":[{"contactName":"John Doe","companyName":"Acme Corp"}]}},"jobChanges":{"summary":"Contact research with job changes","value":{"isJobChange":true,"contacts":[{"contactName":"John Doe","companyName":"Acme Corp"},{"contactName":"Jane Doe","companyName":"Acme Corp","title":"Software Engineer"}]}}},"schema":{"type":"object","properties":{"searchResultIds":{"type":"array","description":"Array of search result IDs obtained from a prior /search/contacts call. Each ID triggers a contact research request that consumes one credit. Mutually exclusive with the contacts property.","maxItems":100,"items":{"type":"string"},"example":["11ad7a1c-9a63-30e0-a1de-cd9a766805ca","22bd8b2d-0b74-41f1-b2ef-de0ab877916db"]},"isJobChange":{"type":"boolean","description":"When set to true, triggers a job change research for the provided contacts. Must be used together with the contacts array; cannot be used with searchResultIds.","default":false,"example":false},"contacts":{"type":"array","description":"Contact enrich request. Provide an array of contacts to research by identity. Each item must include one of the following combinations:\n- contactName and companyName (optionally include title when using isJobChange)\n- contactName and domain\n- email\n- liProfileUrl\n- liSalesNavUrl\n- liRecruiterUrl\n\nMutually exclusive with searchResultIds. When isJobChange is true, only the contacts array should be used.\n","maxItems":100,"items":{"type":"object","properties":{"contactName":{"type":"string","description":"Full name of the contact to research. Required when using companyName or domain for identification.","example":"John Doe"},"companyName":{"type":"string","description":"Name of the company the contact is associated with. Use together with contactName.","example":"Acme Corp"},"title":{"type":"string","description":"Job title of the contact. Used alongside contactName and companyName when isJobChange is true to match the correct job change record.","example":"Software Engineer"},"domain":{"type":"string","description":"Company website domain. Use as an alternative to companyName together with contactName.","example":"acme.com"},"email":{"type":"string","description":"Email address of the contact. Can be used as a standalone identifier without contactName or companyName.","example":"john.doe@acme.com"},"liProfileUrl":{"type":"string","description":"LinkedIn public profile URL. Can be used as a standalone identifier.","example":"https://www.linkedin.com/in/johndoe"},"liSalesNavUrl":{"type":"string","description":"LinkedIn Sales Navigator profile URL. Can be used as a standalone identifier.","example":"https://www.linkedin.com/sales/lead/ACoAAA..."},"liRecruiterUrl":{"type":"string","description":"LinkedIn Recruiter profile URL. Can be used as a standalone identifier.","example":"https://www.linkedin.com/talent/search/profile/AEMAA..."}}}},"skipDeduplicationCheck":{"type":"boolean","description":"When true, research will not check for duplicate records that you already researched recently, and perform a research (which can result in credit usage)","default":false}}}}}},"responses":{"202":{"description":"The request IDs for research","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates whether the research request was accepted successfully.","example":true},"requestIds":{"type":"array","description":"Array of request IDs corresponding to each contact research request. Use these IDs to poll for results via /contacts/research/poll.","maxItems":100,"items":{"type":"string"},"example":["6Ei5iKuSHzJXvqjVPWiZ_"]}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"message":{"description":"A human readable error message","type":"string"}}}}}},"422":{"description":"Insufficient credits or missing license","content":{"application/json":{"schema":{"description":"Insufficient credits or missing license","type":"object","properties":{"msg":{"type":"string"},"code":{"type":"string"},"data":{"type":"object","properties":{"productCategory":{"type":"string"},"additionalCreditsNeeded":{"type":"integer"}}}}}}}},"500":{"description":"Unexpected error","content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"message":{"description":"A human readable error message","type":"string"}}}}}}}}},"/contacts/research/poll":{"get":{"summary":"Poll Contact Research","description":"Get the results/status of a contact research request","operationId":"pollContactsResearchResults","tags":["Contact Research"],"security":[{"OAuth2":[]},{"ApiKeyAuth":[]}],"parameters":[{"name":"requestIds","required":true,"in":"query","description":"Comma-separated list of request IDs returned from the /contacts/research endpoint.","example":"6Ei5iKuSHzJXvqjVPWiZ_,7Fj6jLvTIAKYwrkWQXjA_","schema":{"type":"array","minItems":1,"maxItems":100,"items":{"type":"string"}}}],"responses":{"200":{"description":"Poll Results","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates whether the poll request was processed successfully.","example":true},"data":{"type":"array","description":"Array of research result objects, one per requested ID.","items":{"type":"object","properties":{"requestId":{"type":"string","description":"The research request ID that was polled.","example":"6Ei5iKuSHzJXvqjVPWiZ_"},"searchResultId":{"type":"string","description":"The search result ID associated with this research request, if applicable.","example":"11ad7a1c-9a63-30e0-a1de-cd9a766805ca"},"status":{"type":"string","description":"Current status of the research request. Common values include `queued`, `researching`, `done`, `error`, `missing`, `duplicate`, `not found`, `contact-already-researched`, and `No license or credits available`. Additional values may be returned over time.","example":"done"},"message":{"type":"string","description":"Additional status message, typically populated when the status is error or missing.","example":""},"contact":{"type":"object","description":"Full contact record returned by the Seamless.AI research engine.","properties":{"contactId":{"type":"string","description":"Unique identifier for this contact record.","example":"699447129"},"username":{"type":"string","description":"Email address of the Seamless.AI user who researched this contact.","example":"user@example.com"},"createdAt":{"type":"string","format":"date-time","description":"Timestamp when this contact record was created.","example":"2026-01-15T10:30:00.000Z"},"updatedAt":{"type":"string","format":"date-time","description":"Timestamp when this contact record was last updated.","
[...]
